.container {
    margin: 0 80px;
}
.log-out {
    margin: 0 auto;
    display: block;
    text-align: right;
}
.navbar {
    width: 100%;
    
}
.navbar ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.navbar li {
    list-style: none;
    display: inline-block;
}
.navbar button {
    padding: 10px 50px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    background-color: lightblue;
    padding: 10px;
    border: 1px solid darkblue;
}

.proposed-event,
.upcoming-event {
    border: 1px solid darkblue;
    padding: 5px;
}

.edit-links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}